@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom scrollbar for dark mode aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #102216; 
}

::-webkit-scrollbar-thumb {
  background: #2a3f31; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #13ec5b; 
}
